<% if @user.house_allegiance == "Stark" %>

<div id="user_info_stark">

<p>
<br/>

  <strong><span>User Info:</span></strong>
  <p><span>First Name: <b> <%= @user.first_name %></p> </b></span>
  <p><span>Last Name: <b> <%= @user.last_name %></p> </b></span>
  <p><span>Email Address: <b> <%= @user.email %></p> </b></span>
  <p><span>House Allegiance: <b> <%= @user.house_allegiance %> </b></span>
  <p><span>Favorite Book: <b> <%= @user.favorite_book %> </b></span>
  <p><span>Bio: <b> <%= @user.bio %> </b></span>
  <p><span>Favorite Quote: <b> <%= @user.favorite_quote %></p> </b></span>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</p>

</div>

<% elsif @user.house_allegiance == "Lannister" %>

<div id="user_info_lannister">

<p>
<br/>


  <strong><span>User Info:</span></strong>
  <p><span>First Name: <b> <%= @user.first_name %></p> </b></span>
  <p><span>Last Name: <b> <%= @user.last_name %></p> </b></span>
  <p><span>Email Address: <b> <%= @user.email %></p> </b></span>
  <p><span>House Allegiance: <b> <%= @user.house_allegiance %> </b></span>
  <p><span>Favorite Book: <b> <%= @user.favorite_book %> </b></span>
  <p><span>Bio: <b> <%= @user.bio %> </b></span>
  <p><span>Favorite Quote: <b> <%= @user.favorite_quote %></p> </b></span>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</p>

</div>


<% elsif @user.house_allegiance == "Greyjoy" %>

<div id="user_info_greyjoy">

<p>
<br/>


  <strong><span>User Info:</span></strong>
  <p><span>First Name: <b> <%= @user.first_name %></p> </b></span>
  <p><span>Last Name: <b> <%= @user.last_name %></p> </b></span>
  <p><span>Email Address: <b> <%= @user.email %></p> </b></span>
  <p><span>House Allegiance: <b> <%= @user.house_allegiance %> </b></span>
  <p><span>Favorite Book: <b> <%= @user.favorite_book %> </b></span>
  <p><span>Bio: <b> <%= @user.bio %> </b></span>
  <p><span>Favorite Quote: <b> <%= @user.favorite_quote %></p> </b></span>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</p>

</div>

<% elsif @user.house_allegiance == "Martell" %>

<div id="user_info_martell">

<p>
<br/>


  <strong><span>User Info:</span></strong>
  <p><span>First Name: <b> <%= @user.first_name %></p> </b></span>
  <p><span>Last Name: <b> <%= @user.last_name %></p> </b></span>
  <p><span>Email Address: <b> <%= @user.email %></p> </b></span>
  <p><span>House Allegiance: <b> <%= @user.house_allegiance %> </b></span>
  <p><span>Favorite Book: <b> <%= @user.favorite_book %> </b></span>
  <p><span>Bio: <b> <%= @user.bio %> </b></span>
  <p><span>Favorite Quote: <b> <%= @user.favorite_quote %></p> </b></span>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</p>

</div>

<% elsif @user.house_allegiance == "Tyrell" %>

<div id="user_info_tyrell">

<p>
<br/>


  <strong><span>User Info:</span></strong>
  <p><span>First Name: <b> <%= @user.first_name %></p> </b></span>
  <p><span>Last Name: <b> <%= @user.last_name %></p> </b></span>
  <p><span>Email Address: <b> <%= @user.email %></p> </b></span>
  <p><span>House Allegiance: <b> <%= @user.house_allegiance %> </b></span>
  <p><span>Favorite Book: <b> <%= @user.favorite_book %> </b></span>
  <p><span>Bio: <b> <%= @user.bio %> </b></span>
  <p><span>Favorite Quote: <b> <%= @user.favorite_quote %></p> </b></span>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</p>

</div>

<% elsif @user.house_allegiance == "Arryn" %>

<div id="user_info_arryn">

<p>
<br/>


  <strong><span>User Info:</span></strong>
  <p><span>First Name: <b> <%= @user.first_name %></p> </b></span>
  <p><span>Last Name: <b> <%= @user.last_name %></p> </b></span>
  <p><span>Email Address: <b> <%= @user.email %></p> </b></span>
  <p><span>House Allegiance: <b> <%= @user.house_allegiance %> </b></span>
  <p><span>Favorite Book: <b> <%= @user.favorite_book %> </b></span>
  <p><span>Bio: <b> <%= @user.bio %> </b></span>
  <p><span>Favorite Quote: <b> <%= @user.favorite_quote %></p> </b></span>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</p>

</div>

<% elsif @user.house_allegiance == "Targaryen" %>

<div id="user_info_targaryen">

<p>
<br/>


  <strong><span>User Info:</span></strong>
  <p><span>First Name: <b> <%= @user.first_name %></p> </b></span>
  <p><span>Last Name: <b> <%= @user.last_name %></p> </b></span>
  <p><span>Email Address: <b> <%= @user.email %></p> </b></span>
  <p><span>House Allegiance: <b> <%= @user.house_allegiance %> </b></span>
  <p><span>Favorite Book: <b> <%= @user.favorite_book %> </b></span>
  <p><span>Bio: <b> <%= @user.bio %> </b></span>
  <p><span>Favorite Quote: <b> <%= @user.favorite_quote %></p> </b></span>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</p>

</div>

<% elsif @user.house_allegiance == "Baratheon" %>

<div id="user_info_baratheon">

<p>
<br/>


  <strong><span>User Info:</span></strong>
  <p><span>First Name: <b> <%= @user.first_name %></p> </b></span>
  <p><span>Last Name: <b> <%= @user.last_name %></p> </b></span>
  <p><span>Email Address: <b> <%= @user.email %></p> </b></span>
  <p><span>House Allegiance: <b> <%= @user.house_allegiance %> </b></span>
  <p><span>Favorite Book: <b> <%= @user.favorite_book %> </b></span>
  <p><span>Bio: <b> <%= @user.bio %> </b></span>
  <p><span>Favorite Quote: <b> <%= @user.favorite_quote %></p> </b></span>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</p>

</div>

<% elsif @user.house_allegiance == "Tully" %>

<div id="user_info_tully"

<strong><span>User Info:</span></strong>
  <p><span>First Name: <b> <%= @user.first_name %></p> </b></span>
  <p><span>Last Name: <b> <%= @user.last_name %></p> </b></span>
  <p><span>Email Address: <b> <%= @user.email %></p> </b></span>
  <p><span>House Allegiance: <b> <%= @user.house_allegiance %> </b></span>
  <p><span>Favorite Book: <b> <%= @user.favorite_book %> </b></span>
  <p><span>Bio: <b> <%= @user.bio %> </b></span>
  <p><span>Favorite Quote: <b> <%= @user.favorite_quote %></p> </b></span>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br
/><br/><br/><br/><br/><br/><br/><br/><br/>
</p>

</div>

<% elsif @user.house_allegiance == "Blackfyre" %>

<div id="user_info_blackfyre">

<p>
<br/>


  <strong><span>User Info:</span></strong>
  <p><span>First Name: <b> <%= @user.first_name %></p> </b></span>
  <p><span>Last Name: <b> <%= @user.last_name %></p> </b></span>
  <p><span>Email Address: <b> <%= @user.email %></p> </b></span>
  <p><span>House Allegiance: <b> <%= @user.house_allegiance %> </b></span>
  <p><span>Favorite Book: <b> <%= @user.favorite_book %> </b></span>
  <p><span>Bio: <b> <%= @user.bio %> </b></span>
  <p><span>Favorite Quote: <b> <%= @user.favorite_quote %></p> </b></span>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</p>

</div>

<% elsif @user.house_allegiance == "Night's Watch" %>

<div id="user_info_nights_watch">

<p>
<br/>


  <strong><span>User Info:</span></strong>
  <p><span>First Name: <b> <%= @user.first_name %></p> </b></span>
  <p><span>Last Name: <b> <%= @user.last_name %></p> </b></span>
  <p><span>Email Address: <b> <%= @user.email %></p> </b></span>
  <p><span>House Allegiance: <b> <%= @user.house_allegiance %> </b></span>
  <p><span>Favorite Book: <b> <%= @user.favorite_book %> </b></span>
  <p><span>Bio: <b> <%= @user.bio %> </b></span>
  <p><span>Favorite Quote: <b> <%= @user.favorite_quote %></p> </b></span>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</p>

</div>

<% else %>

<div id="user_info">

<p>
<br/>


  <strong><span>User Info:</span></strong>
  <p><span>First Name: <b> <%= @user.first_name %></p> </b></span>
  <p><span>Last Name: <b> <%= @user.last_name %></p> </b></span>
  <p><span>Email Address: <b> <%= @user.email %></p> </b></span>
  <p><span>House Allegiance: <b> <%= @user.house_allegiance %> </b></span>
  <p><span>Favorite Book: <b> <%= @user.favorite_book %> </b></span>
  <p><span>Bio: <b> <%= @user.bio %> </b></span>
  <p><span>Favorite Quote: <b> <%= @user.favorite_quote %></p> </b></span>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</p>

</div>

<% end %>
