
<div id="user_info">

<p>
<br/>

  <strong>User Info:</strong>
  
  <p>First Name: <b> <%= @user.first_name %></p> </b>
  <p>Last Name: <b> <%= @user.last_name %></p> </b>
  <p>Email Address: <b> <%= @user.email %></p> </b>
  <p>House Allegiance: <b> <%= @user.house_allegiance %> </b>
  <p>Favorite Book: <b> <%= @user.favorite_book %> </b>
  <p>Bio: <b> <%= @user.bio %> </b>
  <p>Favorite Quote: <b> <%= @user.favorite_quote %></p> </b>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</p>

</div>
